* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
html,
body {
    background: #4e84bb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.burger-menu__button {
    min-width: 42px;
    height: 42px;

    background: transparent;

    border: 1px solid #fff;

    padding: 12px 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    position: relative;
}

.burger-menu__button span {
    width: 100%;
    height: 2px;

    background: #fff;

    border-radius: 3px;

    box-shadow: 0 2px 10px 0 rgba(0,0,0, .3);

    position: relative;
}



.burger-menu_active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.burger-menu_not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.burger-menu_active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.burger-menu_not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.burger-menu_active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.burger-menu_not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0deg);
    }
    50% {
        top: 7px;
        transform: rotate(0deg);
    }
    100% {
        top: 7px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 7px;
        transform: rotate(45deg);
    }
    50% {
        top: 7px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }
    50% {
        bottom: 7px;
        transform: rotate(0deg);
    }
    100% {
        bottom: 7px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 7px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 7px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
